%h2.display-5 Swords

.add-swords-errors

- for_elder_only do
  = render partial: 'form', locals: {sword: @new_sword, action: 'Create'}

%table.table.table-striped.table-info.table-hover.swords-table
  %th Name
  %th Type
  %th Owner
  %th Damage
  - for_elder_only do
    %th Actions
  = render @swords
