%h2.display-5 Users

%table.table.table-striped.table-info.table-hover.users-table
  %th Name
  %th Nickname
  %th Email
  %th Is Elder
  %th Viewed pages
  %th Edited resources
  %th Account created
  %th Actions
  = render @users