%footer.text-center.text-lg-start.bg-light.text-muted{style: "position:absolute; bottom:0; height: 70px; width:100%;"}
  %section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
    %div.me-5.d-none.d-lg-block
      Best witcher is that does not stands behind your back:
  %section
    %div.container.text-center.text-md-start.mt-5
      %div.row.mt-3
        %div.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
          %h6.text-uppercase.fw-bold.mb-4
            Monstrum, or a Portrayal of Witchers
          %p
            Verily, there is nothing so hideous as the monsters, so contrary to nature,
            known as witchers for they are the offspring of foul sorcery and devilry.
            They are rogues without virtue, conscience or scruple, true diabolic creations, fit only for killing.

        %div.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
          %h6.text-uppercase.fw-bold.mb-4
            Products
          %p= link_to 'Game Wiki', 'https://witcher.fandom.com/wiki/Witcher_Wiki', class: 'text-reset', target: :_blank
          %p= link_to 'Game trilogy in Steam', 'https://store.steampowered.com/bundle/727/The_Witcher_Trilogy/', class: 'text-reset', target: :_blank
          %p= link_to 'Books in right order', 'https://www.pcgamer.com/the-witcher-books/', class: 'text-reset', target: :_blank
          %p= link_to 'Netflix film adaptation', 'https://www.netflix.com/se/title/80189685', class: 'text-reset', target: :_blank

  %div.text-center.p-4{style: "background-color: rgba(0, 0, 0, 0.05);"}
    © 2021 Made by phantom-profile as REU project