%h2.display-5 Witchers

.add-witchers-errors

- for_elder_only do
  = render partial: 'form', locals: {witcher: @new_witcher, action: 'Create'}

%table.table.table-striped.table-info.table-hover.witchers-table
  %th Name
  %th Nickname
  %th Age
  %th Currently located
  %th School
  %th Sword
  - for_elder_only do
    %th Actions
  = render @witchers