%h2.display-5 Schools

.add-school-errors

- for_elder_only do
  = render partial: 'form', locals: {school: @new_school, action: 'Create' }

%table.table.table-striped.table-info.table-hover.schools-table
  %th Name
  %th Location
  %th Members
  - for_elder_only do
    %th Actions
  = render @schools
